
.DS_Store
*.aux
*.log
*.out
*.gz
.idea/codeStyles/Project.xml
.idea/FallDetectionSystem.iml
.idea/modules.xml
.idea/vcs.xml
Application/.idea/codeStyles/Project.xml
Application/.idea/gradle.xml
Application/.idea/misc.xml
Application/.idea/vcs.xml
.idea/codeStyles/Project.xml
.idea/FallDetectionSystem.iml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/Project.xml
.idea/FallDetectionSystem.iml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/Project.xml
.idea/FallDetectionSystem.iml
Application/.idea/.name
Application/.idea/jarRepositories.xml
Application/.idea/runConfigurations.xml
.settings/org.eclipse.jdt.core.prefs
.classpath
.project
